*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.parent{
height: 100vh;
border: 20px solid black;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.child1{
    width: 200px;
    height:200px;
    background: navy;
}
.child2{
    width: 200px;
    height:200px;
    background: coral;
}
.child3{
    width: 200px;
    height:200px;
    background: lightblue;
}